

.redes {
    transition: all ease-out 0.2s;
}

.redes:hover {
    transform: scale(1.10);
}
.banner {
    height: 500px;
}

.avatar {
    position: relative;
    margin-top: -50px;
    margin-bottom: 20px;
}

.img-work {
    width: 50%;
    height: auto;
}

.logoUla {
    width: 30%;
}

.habilidades {
    background-color:  rgb(203, 232, 243);
    border-radius: 25px;
}


